*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
.notice{
    width: 298px;
    height: 98px;
    margin: 10px;
    border: 1px solid #eee;
    overflow: hidden;
}
.notice-tit{
    height: 27px;
    position: relative;
    background: #F7F7F7;
}
.notice-tit ul{
    position: absolute;
    width: 301px;
    left: -1px;
}
.notice-tit li{
    float: left;
    width: 58px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    background: #fff;
    padding: 0 1px;
    background: #F7F7F7;
    border-bottom: 1px solid #ccc;
}
.notice-tit li.select{
    background: #fff;
    border-bottom-color: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-weight: bold;
    padding: 0;
}
.notice li a:link,.notice li a:visited{
    text-decoration: none;
    color: #000;
}
.notice li a:hover{
    color: #f90;
}
.notice .mod{
    margin:10px 10px 10px 19px
}
.notice .mod ul li{
    float:left;
    width:134px;
    height: 25px;
    overflow: hidden;
}